.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.o
*.tmp
*.swo
*.swp
.*.swo
.*.swp
*.out
*.d
*.old
*.dmp*
*.lss*
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
apps/*/build/
apps/*/*_obj/
libraries/build/
zputa/build/
zOS/build/
iocp/iocp_obj/
build/*
old/*
*/old/*
*/*/old/*
*/*/*/old/*
iocp/test
startup/*0x*.ld
apps/*/*.zpu
apps/*/*.k64
common/old2
include.bak
libraries/umlibc/misc2
apps/tzpu/tzpu.c.1605
apps/tzpu/tzpu.h.1605
c
teensy3/TeensyThreads/
x
zOS/main.hex
zOS/*.i
zOS/*.ii
zOS/*.s
zputa/*.i
zputa/*.ii
zputa/*.s
zOS/main.save
.dobuild
SD/
common/osd.sav.c
frdm/
frdmk64f_usb_msd_host_bootloader_mcux.zip
frdmk64f_usb_msd_host_bootloader_mcux/
getopt_long.c
minicom.cap
rrrr
startup/app_zos_zpu.tmpl2
startup/app_zos_zpu.tmpl3
tzio/
zOS/main.bak

