.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.o
*.tmp
*.swo
*.swp
.*.swo
.*.swp
*.out
*.d
*.old
*.dmp*
*.lss*
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
apps/*/build/
apps/*/*_obj/
libraries/build/
zputa/build/
zOS/build/
iocp/iocp_obj/
build/*
old/*
*/old/*
*/*/old/*
*/*/*/old/*
iocp/test
startup/*0x*.ld
apps/*/*.zpu
apps/*/*.k64
common/old2
include.bak
libraries/umlibc/misc2
